Flask==2.3.3
Werkzeug==2.3.7
tensorflow==2.20.0
keras==2.13.0
opencv-python==4.12.0.88
numpy==2.2.6
pandas==2.3.3
Pillow==12.0.0
scikit-learn==1.7.2
matplotlib==3.7.2
python-dotenv==1.0.0
requests==2.31.0
SQLAlchemy==2.0.44